.header {
    width: 1440px;
    height: 70px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #FFFFFF;
    border-radius: 5px;

    position: relative;
    top: 10px;
    margin: 0 auto;
    max-width: 1440px;
}

.header__logo{
    width: 164px;
    height: 20px;

    padding-left: 25px;
}

.header__block {
    display: flex;
    align-items: center;
    gap: 40px;
}

.block__phone {
    font-size: 18px;
    font-weight: bold;
}

.block__btn__blue {
    padding: 13px 40px;
    margin-right: 10px;

    color: #FFFFFF;
    background: #009BFF;

    border: none;
    border-radius: 5px;
}

.block__btn__blue:hover {
    cursor: pointer;
}

.block__btn__blue:active {
    color: #009BFF;
    background: #009BFF33;
}

@media (max-width: 768px) {
    .header {
        width: 350px;
        height: 55px;
        max-width: 350px;
        top: 5px;
        padding: 0 15px;
        justify-content: space-between;
    }

    .header__logo {
        width: 123px;
        height: 15px;
        padding-left: 0;
    }

    .header__block {
        display: none;
    }

    .mobile__phone__btn {
        display: block;
    }

    .mobile__phone {
        font-weight: 700;
        font-size: 14px;
        color: #333;
    }
}

@media (max-width: 480px) {
    .header {
        width: 100%;
        max-width: 350px;
        padding: 0 10px;
    }
    
    .mobile__phone__btn img {
        width: 18px;
        height: 18px;
    }
}