.header {
    width: 1440px;
    height: 70px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #FFFFFF;
    border-radius: 5px;

    position: relative;
    top: 10px;
    margin: 0 auto;
    max-width: 1440px;
}

.header__logo{
    width: 164px;
    height: 20px;

    padding-left: 25px;
}

.header__block {
    display: flex;
    align-items: center;
    gap: 40px;
}

.block__phone {
    font-size: 18px;
    font-weight: bold;
}

.block__btn__blue {
    padding: 13px 40px;
    margin-right: 10px;

    color: #FFFFFF;
    background: #009BFF;

    border: none;
    border-radius: 5px;
}

.block__btn__blue:hover {
    cursor: pointer;
}

.block__btn__blue:active {
    color: #009BFF;
    background: #009BFF33;
}