.main {
    display: flex;
    flex-direction: row;
}

.main__blockOne {
    padding: 170px 0 250px 240px;
}

.blockOne__text span {
    font-size: 68px;
    font-weight: bold;
    font-weight: 700;
    line-height: 65px;
}

.main__blockTwo {
    position: absolute;
    left: 1180px;
    top: 120px;
}

.span__blue {
    color: #009BFF;
}

.blockOne__text p {
    font-size: 24px;
    margin-top: 30px;
}

.blockOne__buttons{
    display: flex;
    flex-direction: row;
    gap: 15px;

    margin-top: 70px;
}

.blockOne__btn__blue {
    padding: 15px 40px;
    margin-right: 10px;

    color: #FFFFFF;
    background: #009BFF;

    border: none;
    border-radius: 5px;

    cursor: pointer;
}

.blockOne__btn__blue:active {
    color: #009BFF;
    background: #009BFF33;
}

.blockOne__btn__transparent {
    display: flex;
    flex-direction: row;

    background: none;
    border: 1px dashed #BFC9E0;
    gap: 10px;

    padding: 15px 25px;
    border-radius: 5px;

    cursor: pointer;
}
.blockOne__btn__transparent span {
    font-weight: 400;
    font-size: 16px;
}

.blockOne__btn__transparent img {
    width: 17.25px;
    height: 17.25px;
}