.sectionVideo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
    gap: 50px;
}

.sectionVideo__heading {
    display: flex;
    font-size: 68px;
    font-weight: 700;
    color: #2B2E3E;
    gap: 15px;
}

.sectionVideo__headingBlue {
    color: #009BFF;
}

.sectionVideo__video {
    position: relative;
    width: 1440px;
    height: 780px;
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
}

.sectionVideo__video__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    transition: transform 0.5s ease;
}

.sectionVideo__video::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #009BFF24;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
    border-radius: 30px;
}

.sectionVideo__video:hover::after {
    opacity: 1;
}

.sectionVideo__video__pleer {
    position: absolute;

    width: 88px;
    height: 88px;

    background: #009BFF;

    border-radius: 50px;
    border: none;
}

.sectionVideo__video__pleer {
    position: absolute;
    width: 88px;
    height: 88px;
    background: #009BFF;
    border-radius: 50px;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
}

.sectionVideo__video__pleer::after {
    content: '';
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 20px solid white;
    margin-left: 5px;
}