.section {
    display: flex;
    flex-direction: row;

    position: relative;

    background: #009BFF;
    border-radius: 15px;
    width: 1840px;
    height: 680px;

    margin-top: 150px;
}

.section__blockInput {
    display: flex;
    flex-direction: column;

    padding: 80px 0 85px 200px;
}

.section__blockInput__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.text__white {
    font-size: 68px;
    font-weight: 700;

    color: #ffffff;
}

.text__whiteTrans {
    color: #FFFFFFCC;
}

.text__pWhite {
    font-size: 16px;
    font-weight: 300;

    color: #ffffff;
}

.section__blockInput__input {
    margin-top: 40px;

    display: flex;
    flex-direction: column;

    gap: 20px;
}

.blockInput__inputRow {
    display: flex;
    flex-direction: row;

    gap: 20px;
}

.input {
    width: 345px;
    height: 60px;

    border-radius: 5px;
    border: none;

    background: #F0F3F966;
}

.input::placeholder {
    color: #ffffff;
    
    font-size: 16px;
    font-weight: 200;

    padding-left: 25px;
}

.inputBold {
    position: relative;
    width: 710px;
    height: 120px;

    border-radius: 5px;
    border: none;

    background: #F0F3F966;
}

.inputBold::placeholder {
    position: absolute;
    top: 20px;

    color: #ffffff;
    
    font-size: 16px;
    font-weight: 200;

    padding-left: 25px;
}

.section__blockInput__btn {
    display: flex;
    flex-direction: row;

    gap: 20px;

    margin-top: 20px;
}

.blockInput__btn__blue {
    padding: 15px 104px;

    color: #FFFFFF;
    background: #60BEFD;

    border: none;
    border-radius: 5px;

    cursor: pointer;
}

.blockInput__btn__text {
    font-size: 12px;

    color: #FFFFFF;
}

.blockInput__footerText {
    margin-top: 30px;

    color: #FFFFFF;

    font-size: 20px;
    font-weight: 200;
}

.blockInput__footerTextBold {
    font-weight: 800;
    cursor: pointer;
}

.img {
    position: absolute;
    right: 90px;
    bottom: 20px;

    width: 761px;
    height: 694px;
}