.main{
  display: block;
  background: white;
  width: 1840px;
  height: 910px;

  border-radius: 20px;
}

.main__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;

  padding-top: 140px;
}

.main__text span {
  font-weight: Bold;
  font-size: 68px;
}

.main__text__blue {
  color: #009BFF;
}

.main__text p {
  color: #2B2E3E;

  font-size: 24px;
  font-weight: 500;
}

.main__images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 100px;
  padding-top: 60px;
}

.main__images img {
  width: 278px;
  height: 450px;
}