.section {
  display: block;
  width: 1840px;
  height: 910px;

  border-radius: 30px;
  background: #009BFF;

  margin-top: 20px;
}

.section__flex {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  gap: 194px;
}

.section__list {
  display: flex;
  flex-direction: column;

  gap: 40px;
  padding-top: 248px;
  margin-left: 200px;
}

.list__p__wnite {
  font-weight: 700;
  font-size: 68px;

  color: #FFFFFF;
}

.list__p__whitTran {
  font-weight: 700;
  font-size: 68px;

  color: #FFFFFFCC;
}

.section__flex img {
  padding-top: 192px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 25px;

  color: #FFFFFF;

  font-size: 24px;
  font-weight: 200;
}

.sectionTwo__list {
  width: 497px;
  height: 660px;
}